.MainBar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.NavBarItem {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 6px;
    padding: 4px;
    display: inline;
    color: rgba(248, 248, 248, 0.5);
}

.NavBarItem:hover {
    color: #1DB954;
}

.theCurrent {
    color: #1DB954;
}
